:host {
  display: block;
}

.ui-toggle {
  width: 100%;
}

.ui-toggle__label {
  display: block;
  font-weight: 600;
}

.ui-toggle__description {
  display: block;
  font-size: 0.85rem;
  color: #94a3b8;
}
