<mat-sidenav-container class="app-shell" autosize>
  <mat-sidenav
    class="app-shell__sidenav"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset() || sidebarOpened()"
    (closedStart)="closeSidebar()"
  >
    <div class="app-shell__brand">
      <span class="brand__title">Enterprise Ops</span>
      <span class="brand__subtitle">Insights</span>
    </div>

    <mat-nav-list dense>
      <a
        mat-list-item
        *ngFor="let item of navItems(); trackBy: trackByRoute"
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="handleNavClick()"
      >
        <mat-icon aria-hidden="true">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-shell__toolbar">
      <button
        mat-icon-button
        type="button"
        class="menu-toggle"
        aria-label="Toggle navigation"
        (click)="toggleSidebar()"
        *ngIf="isHandset()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ activeTitle() }}</span>
    </mat-toolbar>

    <section class="app-shell__content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
